.hero {
   padding: 3rem 0rem;
   @media (max-width: 61.999rem) {
      padding: 2rem 0rem;
   }
   @media (max-width: 48.249rem) {
      padding: 1rem 0rem;
   }
   &__content {
      display: grid;
      grid-template-columns: 40.125rem 37.5rem;
      @media (max-width: 80.062rem) {
         grid-template-columns: 30.125rem minmax(15rem, 37.5rem);
      }
      @media (max-width: 61.999rem) {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr auto;
         justify-content: center;
      }
   }

   &__column {
   }

   &__info {
      padding-top: 5rem;
      @media (max-width: 61.999rem) {
         text-align: center;
         padding-top: 0rem;
      }
   }

   &__best {
      display: inline-block;
      padding: 1rem;
      background: #fff0dc;
      font-weight: 600;
      line-height: 130%;
      color: var(--font-color-orange);
      border-radius: 6.25rem;
      margin-bottom: 1.875rem;
      @media (max-width: 61.999rem) {
         margin-bottom: 1rem;
      }
      @media (max-width: 48.249rem) {
         font-size: 0.9rem;
      }
   }

   &__title {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: -2%;
      color: var(--font-color);
      margin-bottom: 1.875rem;
      @media (max-width: 61.999rem) {
         margin-bottom: 1rem;
      }
      @media (max-width: 48.249rem) {
         font-size: 3rem;
      }
      span {
         color: var(--font-color-orange);
      }
   }

   &__link {
      display: inline-flex;
      padding: 1.3rem 2.5rem;
      background: var(--btn-bg);
      transition: all 0.3s;
      border-radius: 6.25rem;
      margin-bottom: 5.5rem;
      @media (max-width: 61.999rem) {
         margin-bottom: 1rem;
      }
      span {
         color: var(--btn-text);
         font-size: 1.125rem;
         font-weight: 600;
         line-height: 130%;
         @media (max-width: 48.249rem) {
            font-size: 0.9rem;
         }
      }
      &:hover {
         background: var(--btn-hover);
      }
   }

   &__counters {
      display: flex;
      column-gap: 3.25rem;
      @media (max-width: 61.999rem) {
         justify-content: center;
      }
      @media (max-width: 48.249rem) {
         font-size: 0.9rem;
      }
   }

   &__image {
      width: 37.5rem;
      height: 45.1875rem;
      position: relative;
      margin: 0 auto;
      @media (max-width: 80.062rem) {
         max-width: 33.75rem;
         height: 40.625rem;
      }
      @media (max-width: 61.999rem) {
         max-width: 18.75rem;
         height: 22.625rem;
      }
      img {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
}
.counters {
   color: var(--font-color);
   &__customers {
   }

   &__number {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 160%;
   }

   &__text {
      line-height: 160%;
      font-weight: 500;
   }

   &__ratings {
   }
}
