.header {
   padding: 1.875rem 0rem;
   &__menu {
   }
}

.menu {
   display: grid;
   grid-template-columns: 10.75rem auto 3.75rem;
   align-items: center;
   &__logo {
      text-transform: uppercase;
      font-family: Roboto;
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1.75rem;
      color: #575757;
      span {
         color: #fb9333;
      }
   }

   &__body {
   }

   &__list {
      display: flex;
      column-gap: 3.5rem;
      justify-content: flex-end;
      padding-right: 3.5rem;
   }

   &__item {
   }

   &__link {
      color: var(--font-color);
      font-size: 1rem;
      font-weight: 700;
      line-height: 130%;
   }
}

.active {
   color: #fb9333 !important;
}
