////////////////////FONTS////////////////////
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");
////////////////////DARK THEME////////////////////
:root {
   //btn black
   --black-btn-bg-black: #131314;
   --black-btn-text-white: #e3e3e3;
   --black-btn-hover-black: #3a3a3a;
   //btn black
   //btn white
   --white-btn-bg-white: #fff;
   --white-btn-text-black: #131314;
   --white-btn-hover-white: #f1f1f1;
   //btn white
   //bg-colors
   --background-color: #fff;
   --trusted-bg: transparent;
   --burger-bg-color: #f1f1f1;
   --footer-color: #131314;
   --trusted-items: none;
   //bg-colors
   //font-colors
   --heading-color: #131314;
   --font-color: #575757;
   --burger-link: #131314;
   //font-colors
   //logos
   --header-logo-bg: none;
   --footer-logo-bg: none;
   --burger-logo: brightness(100) invert(1);
   //logos
   --loader: #131314;
   //price
   --price-bg: #131314;
   --price-text: #e3e3e3;
   //price
}

[data-theme="dark"] {
   ///btn black
   --black-btn-bg-black: #e3e3e3;
   --black-btn-text-white: #131314;
   --black-btn-hover-black: #f1f1f1;
   //btn black
   //btn white
   --white-btn-bg-white: #e3e3e3;
   --white-btn-text-black: #131314;
   --white-btn-hover-white: #f1f1f1;
   //btn white
   //bg-colors
   --background-color: #131314;
   --trusted-bg: #e3e3e3;
   --burger-bg-color: #131314;
   --footer-color: #e3e3e3;
   --trusted-items: brightness(0) invert(1);
   //bg-colors
   //font-colors
   --heading-color: #e3e3e3;
   --font-color: #e3e3e3;
   --font-color-bg-white: #131314;
   --burger-link: #e3e3e3;
   //font-colors
   //logos
   --header-logo-bg: brightness(0) invert(1);
   --footer-logo-bg: brightness(100) invert(1);
   --burger-logo: none;
   //logos
   --loader: #f1f1f1;
   //price
   --price-bg: #f1f1f1;
   --price-text: #131314;
   //price
}
////////////////////NULL STYLE////////////////////
body {
   font-family: "Poppins", sans-serif;
   margin: 0;
   font-weight: 400;
   line-height: 1;
   background-color: var(--background-color);
   font-size: 1rem;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   // transition: all .3s;
}
* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}
:focus,
:active {
   // outline: none;
}
a:focus,
a:active {
   outline: none;
}
html,
body {
   height: 100%;
}

input,
button,
textarea {
   font-size: inherit;
   line-height: inherit;
}
button {
   cursor: pointer;
   color: inherit;
   background-color: transparent;
}
a {
   color: inherit;
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
////////////////////CLASSES////////////////////
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   @supports (overflow: clip) {
      overflow: clip;
   }
   > main {
      flex: 1 1 auto;
   }
   > * {
      min-width: 0;
   }
}

.container {
   max-width: 75rem;
   margin: 0 auto;
   padding: 0rem 0.4375rem;
}

.loader {
   width: 3.125rem;
   aspect-ratio: 1;
   border-radius: 50%;
   border: 0.5rem solid;
   border-color: var(--loader) transparent;
   animation: l1 1s infinite;
   display: flex;
   margin: 0 auto;
}

@keyframes l1 {
   to {
      transform: rotate(0.5turn);
   }
}
