////////////////////FONTS////////////////////
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");
////////////////////DARK THEME////////////////////
:root {
   //btn
   --btn-bg: #fb9333;
   --btn-hover: #fda048;
   --btn-text: #fff;
   //btn
   //bg-colors
   --background-color: #fff;
   --burger-bg-color: #f1f1f1;
   //bg-colors
   //font-colors
   --font-color: #575757;
   --font-color-orange: #fb9333;
   --font-color-hover: #969393;
   //font-colors
   //logos
   --logo-color: #575757;
   --burger-logo: brightness(100) invert(1);
   //logos
   --loader: #131314;
   //price
   --price-bg: #131314;
   --price-text: #e3e3e3;
   //price
   //item-bg
   --item-bg: #fff;
   --item-hover: rgba(151, 109, 0, 0.2);
   //item-bg
}

[data-theme="dark"] {
   //bg-colors
   --background-color: #131314;
   --trusted-bg: #e3e3e3;
   --burger-bg-color: #131314;
   --footer-color: #e3e3e3;
   --trusted-items: brightness(0) invert(1);
   //bg-colors
   //font-colors
   --font-color: #e3e3e3;
   --font-color-hover: #f7f4f4;
   //font-colors
   //logos
   --logo-color: #e3e3e3;
   --burger-logo: none;
   //logos
   --loader: #f1f1f1;
   //item-bg
   --item-bg: #f1f1f1;
   --item-hover: #f1f1f1;
   //item-bg
}
////////////////////NULL STYLE////////////////////
body {
   font-family: "Poppins", sans-serif;
   margin: 0;
   font-weight: 400;
   line-height: 1;
   background-color: var(--background-color);
   font-size: 1rem;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   // transition: all .3s;
}
* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}
:focus,
:active {
   // outline: none;
}
a:focus,
a:active {
   outline: none;
}
html,
body {
   height: 100%;
}

input,
button,
textarea {
   font-size: inherit;
   line-height: inherit;
}
button {
   cursor: pointer;
   color: inherit;
   background-color: transparent;
}
a {
   color: inherit;
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
////////////////////CLASSES////////////////////
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   @supports (overflow: clip) {
      overflow: clip;
   }
   > main {
      flex: 1 1 auto;
   }
   > * {
      min-width: 0;
   }
   &::before {
      content: "";
      background: url("/images/bg.png") right / 100% 100% no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1000;
   }
}

.container {
   max-width: 75rem;
   margin: 0 auto;
   padding: 0rem 0.4375rem;
}

.loader {
   width: 3.125rem;
   aspect-ratio: 1;
   border-radius: 50%;
   border: 0.5rem solid;
   border-color: var(--loader) transparent;
   animation: l1 1s infinite;
   display: flex;
   margin: 0 auto;
}

@keyframes l1 {
   to {
      transform: rotate(0.5turn);
   }
}

.active {
   color: var(--font-color-orange);
}

.hidden {
   left: 100%;
   transition: all 0.3s;
}

.title {
   font-weight: 600;
   font-size: 3rem;
   line-height: 140%;
   color: var(--font-color);
   letter-spacing: -2%;
   span {
      color: var(--font-color-orange);
   }
   @media (max-width: 48.249rem) {
      font-size: 2rem;
   }
}

.category-title {
   font-size: 1.5rem;
   font-weight: 600;
   line-height: 180%;
   letter-spacing: -2%;
   margin-bottom: 0.75rem;
   color: var(--font-color);
}

.text {
   color: var(--font-color);
   font-size: 1.25rem;
   font-weight: 500;
   line-height: 160%;
   letter-spacing: -2%;
   @media (max-width: 61.999rem) {
      margin-bottom: 1rem;
   }
   @media (max-width: 48.249rem) {
      font-size: 1rem;
   }
}

.category-image {
   position: relative;
   width: 22.625rem;
   height: 32.625rem;
   border-radius: 3.125rem;
   transition: all 0.3s;
   cursor: pointer;
   &:hover {
      box-shadow: 0 50px 80px -30px var(--item-hover);
   }
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      border-radius: 3.125rem;
   }
}

.btn-active {
   background: var(--btn-bg);
}

.name {
   position: absolute;
   bottom: 3rem;
   font-size: 1rem;
   font-weight: 500;
   line-height: 138%;
   color: #fff;
   left: 50%;
   transform: translateX(-50%);
   text-wrap: nowrap;
}

.errorBoundary {
   display: flex;
   margin: 0 auto;
}
