.kcalCalc {
   padding: 3rem 0rem;
   &__content {
   }

   &__form {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      margin-bottom: 3rem;
   }

   &__top {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
   }

   &__gender {
      display: flex;
      justify-content: center;
      gap: 2rem;
   }

   &__activity {
      display: flex;
      justify-content: center;
      gap: 2rem;
   }

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         transition: all 0.3s;
         padding-left: 0.875rem;
      }
      &:hover {
         img {
            transform: translateX(5px);
         }
      }
   }

   &__buttons {
      display: flex;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
   }
   &__goal {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 1rem;
   }

   &__submit {
      display: flex;
      margin: 0 auto;
      button {
         display: inline-flex;
         padding: 1.3rem 2.5rem;
         transition: all 0.3s;
         border-radius: 6.25rem;
         text-wrap: nowrap;
         border: 1px solid #131314;
         color: #575757 !important;
         &:hover {
            background: var(--btn-hover);
         }
      }
   }

   &__myDiet {
      display: flex;
      margin: 0 auto;
   }

   &__button {
      display: inline-flex;
      padding: 1.3rem 2.5rem;
      background: #fff;
      transition: all 0.3s;
      border-radius: 6.25rem;
      text-wrap: nowrap;
      border: 1px solid #131314;
      color: #575757 !important;
      @media (max-width: 61.999rem) {
         margin-bottom: 1rem;
      }
      span {
         color: var(--btn-text);
         font-size: 1.125rem;
         font-weight: 600;
         line-height: 130%;
         @media (max-width: 48.249rem) {
            font-size: 0.9rem;
         }
      }
      &:hover {
         background: var(--btn-hover);
      }
   }

   &__item {
      display: inline-flex;
      flex-direction: column;
      text-align: center;
      label {
         margin-bottom: 1rem;
      }
      input {
         padding: 1.3rem 2.5rem;
         border-radius: 6.25rem;
         border: 1px solid #131314;
         text-align: center;
         color: #575757 !important;
      }
      select {
         font-size: 1.25rem;
      }
      select {
         padding: 1.3rem 2.5rem;
         border-radius: 6.25rem;
      }
   }

   &__result {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
   }
}

.info {
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   &__title {
      margin-bottom: 1rem;
   }
   &__item {
      margin-left: 2rem;
      list-style: disc;
      &:not(:last-child) {
         margin-bottom: 0.5rem;
      }
   }
}
