.diets {
   padding: 8.4rem 0rem;
   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, 22.625rem);
      gap: 3.1rem;
      justify-content: center;
   }

   &__item {
   }

   &__image {
      width: 22.625rem;
      height: 15rem;
      border-radius: 1.5rem;
      margin-bottom: 0.5rem;
      transition: all 0.3s;
      &:hover {
         transform: scale(1.05);
         box-shadow: 0 50px 80px -30px var(--item-hover);
      }
   }

   &__name {
      font-weight: 700;
   }

   &__user {
      font-size: 1rem !important;
      font-weight: 300;
   }
}
